<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="username"> Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="role"> Enter role: </label>
    <input type="text" th:field="*{roles}" id="role"/>
    <br/>
    <input type="submit" value="Update!"/>
    <h3>___________________________________________________________</h3>
    <a href="/logout"> ВЫХОД </a>

</form>
</body>
</html>