<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header class="p-0 bg-dark text-white ">
    <nav class="navbar bg-dark" th:each="user: ${user}">
            <span class="navbar-text">
                <a class="h4 font-weight-bold" th:text="*{user.getEmail()}">drozdov@mail.ru</a>
                <a class="h4 font-weight-light"> with roles:</a>
                <a class="h4 font-weight-normal" th:if="${user.getRoles().toString()} == '[ROLE_USER, ROLE_ADMIN]'">ADMIN </a>
                <a class="h4 font-weight-normal" th:if="${user.getRoles().toString()} == '[ROLE_ADMIN, ROLE_USER]'">ADMIN </a>
                <a class="h4 font-weight-normal"
                   th:if="${user.getRoles().toString()} == '[ROLE_USER, ROLE_ADMIN]'">USER </a>
                <a class="h4 font-weight-normal"
                   th:if="${user.getRoles().toString()} == '[ROLE_ADMIN, ROLE_USER]'">USER </a>
                <a class="h4 font-weight-normal" th:if="${user.getRoles().toString()} == '[ROLE_ADMIN]'">ADMIN </a>
                <a class="h4 font-weight-normal" th:if="${user.getRoles().toString()} == '[ROLE_USER]'"> USER </a>
            </span>
        <form class="form-inline ">
            <a class="text-white" href="/logout"> Logout </a>
        </form>
    </nav>
</header>
<div class="container-fluid bg-danger" style="height: 100%">
    <div class="row ">
        <div class="col-2 bg-white p-3" style="height: 865px">
            <div class="nav flex-column mx-n3 nav-pills tab-content" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="h4 nav-link font-weight-normal" style="width: 320px" href="/admin/panel"
                   th:if="${user.getRoles().toString()} == '[ROLE_USER, ROLE_ADMIN]'">
                    Admin </a>
                <a class="h4 nav-link active font-weight-normal" style="width: 320px" href="/user"
                   th:if="${user.getRoles().toString()} == '[ROLE_USER, ROLE_ADMIN]'">
                    User </a>
                <a class="h4 nav-link font-weight-normal" style="width: 320px" href="/admin/panel"
                   th:if="${user.getRoles().toString()} == '[ROLE_ADMIN, ROLE_USER]'">
                    Admin </a>
                <a class="h4 nav-link active font-weight-normal" style="width: 320px" href="/user"
                   th:if="${user.getRoles().toString()} == '[ROLE_ADMIN, ROLE_USER]'">
                    User </a>
                <a class="h4 nav-link font-weight-normal" style="width: 320px" href="/admin/panel"
                   th:if="${user.getRoles().toString()} == '[ROLE_ADMIN]'">
                    Admin </a>
                <a class="h4 nav-link active font-weight-normal" style="width: 320px" href="/user"
                   th:if="${user.getRoles().toString()} == '[ROLE_USER]'">
                    User </a>
            </div>
        </div>

        <div class="col-10 bg-light " style="height: 865px">
            <div class="tab-content p-3  " id="v-pills-tabContent">
                <h1>
                    User information-page
                </h1>
                <div class="border bg-white">
                    <div class="border bg-light p-3">
                        <h3 class="mx-3">About user</h3>
                    </div>
                    <div class="border bg-white p-4 ">
                        <table class="table table-hover border-top">
                            <thead>
                            <tr>
                                <th class="font-weight-bold" scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${user}">
                                <td th:utext="${user.getId()}">Oranges</td>
                                <td th:utext="${user.getUsername()}">Oranges</td>
                                <td th:utext="${user.getLastname()}">Oranges</td>
                                <td th:utext="${user.getAge()}">Oranges</td>
                                <td th:utext="${user.getEmail()}">Oranges</td>
                                <td th:if="${user.getRoles().toString()} == '[ROLE_USER, ROLE_ADMIN]'">
                                    ADMIN USER
                                </td>
                                <td th:if="${user.getRoles().toString()} == '[ROLE_ADMIN, ROLE_USER]'">
                                    ADMIN USER
                                </td>
                                <td th:if="${user.getRoles().toString()} == '[ROLE_ADMIN]'">
                                    ADMIN
                                </td>
                                <td th:if="${user.getRoles().toString()} == '[ROLE_USER]'">
                                    USER
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
